{# index.twig #}
{% extends "base/layout.twig" %}

{% block title %} Higher education | Capti Education {% endblock %}

{% block main %}

<meta name="keywords" content="blended learning, blended learning definition, blended learning strategies, blended learning ideas, blended learning classroom, blended learning classroom model, blended learning in education, blended learning middle school, blended learning high school">

<section class="content support-container">
    <article class="container">
        <h2 class="content-header content-header-support-1">Capti Education</h2>
        <section class="row support-background">
            <section class="col-xs-12 col-sm-3 support-navigation">
                <style>
                    @media(min-width:768px) {
                        .sideblock-mobile-toggle,
                        .sideblock-mobile-toggle+label {
                            display: none
                        }
                    }
                </style>
                <input type="checkbox" id="sideblock-mobile-toggle" class="sideblock-mobile-toggle" />
                <label for="sideblock-mobile-toggle">Higher education <i class="fa fa-angle-down"></i></label>
                <div class="sideblock">
                    <a class="contents sidebar" href="{{linkPath}}">Overview</a>
                    <a class="contents sidebar sidebar-ed-noborder" href="{{linkPath}}higher_education.html"> Higher education</a>
                    <ul class="sidebar-submenu-ed sidebar-submenu-ed-middle">
                        <li><a href="{{linkPath}}accommodations.html" class="contents-ed">Accommodations</a></li>
                        <li><a href="{{linkPath}}content_distribution.html" class="contents-ed">Content Distribution</a></li>
                        <li><a href="{{linkPath}}learning_styles.html" class="contents-ed">Learning Styles</a></li>
                        <li><a href="{{linkPath}}esl_students.html" class="contents-ed">ESL Students</a></li>
                    </ul>
                    <a class="contents sidebar sidebar-ed-topborder active" href="{{linkPath}}k-12_education.html"> K-12 education</a>
					<ul class="sidebar-submenu-ed">
						<li><a href="{{linkPath}}blended_learning.html" class="contents-ed active">Blended Learning</a></li>
						<li><a href="{{linkPath}}computer_competency.html" class="contents-ed">Computer Competency</a></li>
						<li><a href="{{linkPath}}student_led_instruction.html" class="contents-ed">Student-Led Instruction</a></li>
						<li><a href="{{linkPath}}capti_voice_makes_differentiated_instruction.html" class="contents-ed">Differentiated Instruction</a></li>
						<li><a href="{{linkPath}}inclusive_classrooms.html" class="contents-ed">Inclusive Classroom</a></li>
						<li><a href="{{linkPath}}integrated_classrooms_enl_ell.html" class="contents-ed">Integrated Classroom (ELL/ENL)</a></li>
						<li><a href="{{linkPath}}self_contained_classroom.html" class="contents-ed">Self-Contained Classroom</a></li>
					</ul>

                </div>
            </section>

            <section class="support col-xs-12 col-sm-9">
                <div class="bigblock cf">
                    <h1 class="content-header content-header-support-2">Blended Learning</h1>
					<p>The definition of blended learning, simply put, is a method of combining traditional classroom teaching methods with computer classroom techniques. There are a variety of ways to implement blended learning and turn a traditional classroom into a technology classroom. Most important to teachers is that it is an effective and engaging way for students to learn.  Blended learning strategies balance a face-to-face teaching approach with personalized online lessons and content.  The digital tools and content are available in one place which make a blended learning classroom more accessible across student populations.</p>

					<img class="big img-center" src="{{linkPath}}img/blended_learning.png" width="310" alt="technology classroom, computer classroom, students computers, students ipads">

					<table class="support-table">
	                    <thead>
	                        <tr>
	                            <th class="support-td-info support-td-info-50">Biggest Challenges</th>
	                            <th class="support-td-check support-td-check-50">Capti’s Solutions</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Finding a software that is universally accessible across all platforms (students’ computers, students’ iPads, etc.)</td>
	                            <td class="support-td-check support-td-check-50">The world of educational technology is a wild west - too many tools that provide too little support. Capti is an all-in-one literacy solution that provides students and teachers with a platform for making their curriculum content more accessible. It is compatible with Windows, Mac and Chromebook devices as well as iPads and iPhones.</td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Finding the right technology that enables blended learning for each individual student</td>
	                            <td class="support-td-check support-td-check-50">Capti supports blended learning in education as it is an all-in-one literacy solution that provides students and teachers with a platform for making their curriculum content more accessible.</td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Understanding how to use technology in the classroom to implement blended learning ideas</td>
	                            <td class="support-td-check support-td-check-50">Capti has a very small learning curve; improve computer competency and engagement by providing students with an easy-to use literacy tool with a familiar interface.</td>
	                        </tr>
	                    </tbody>
	                </table>

					<h3>Learn more about “blended learning”:</h3>
					<p>Web-based teaching techniques are being combined with traditional classroom learning as a “blended learning” experience to get students acclimated to a wide range of technology in the blended learning classroom model. <br><a href="https://www.mindflash.com/elearning/what-is-blended-learning/" class="ed-link" target="_block">https://www.mindflash.com/elearning/what-is-blended-learning/</a></p>
					<p>By blending modern technology with traditional classroom learning techniques, students are able to learn more naturally. <br><a href="http://www.blendedlearningnow.com/" class="ed-link" target="_block">http://www.blendedlearningnow.com/</a></p>
					<p>Blended learning has led to higher test scores, happier teachers, and more confident students who can learn at their own pace in these blended learning middle schools and high schools! <br><a href="http://www.csmonitor.com/USA/Education/2014/0420/Blended-learning-revolution-Tech-meets-tradition-in-the-classroom" class="ed-link" target="_block">http://www.csmonitor.com/USA/Education/2014/0420/Blended-learning-revolution-Tech-meets-tradition-in-the-classroom</a></p>

                </div>
            </section>

        </section>
    </article>
</section>


{% endblock %}

