{# index.twig #}
{% extends "base/layout.twig" %}

{% block title %} Higher education | Capti Education {% endblock %}

{% block main %}

<meta name="keywords" content="differentiated instruction, differentiated instruction strategies, differentiated instruction ideas, differentiated instruction definition, differentiated instruction english, differentiated instruction for reading, differentiated instruction middle school, differentiated instruction elementary school, differentiated instruction high school">

<section class="content support-container">
    <article class="container">
        <h2 class="content-header content-header-support-1">Capti Education</h2>
        <section class="row support-background">
            <section class="col-xs-12 col-sm-3 support-navigation">
                <style>
                    @media(min-width:768px) {
                        .sideblock-mobile-toggle,
                        .sideblock-mobile-toggle+label {
                            display: none
                        }
                    }
                </style>
                <input type="checkbox" id="sideblock-mobile-toggle" class="sideblock-mobile-toggle" />
                <label for="sideblock-mobile-toggle">K-12 education <i class="fa fa-angle-down"></i></label>
                <div class="sideblock">
                    <a class="contents sidebar" href="{{linkPath}}">Overview</a>
                    <a class="contents sidebar sidebar-ed-noborder" href="{{linkPath}}higher_education.html"> Higher education</a>
                    <ul class="sidebar-submenu-ed sidebar-submenu-ed-middle">
                        <li><a href="{{linkPath}}accommodations.html" class="contents-ed">Accommodations</a></li>
                        <li><a href="{{linkPath}}content_distribution.html" class="contents-ed">Content Distribution</a></li>
                        <li><a href="{{linkPath}}learning_styles.html" class="contents-ed">Learning Styles</a></li>
                        <li><a href="{{linkPath}}esl_students.html" class="contents-ed">ESL Students</a></li>
                    </ul>
                    <a class="contents sidebar sidebar-ed-topborder active" href="{{linkPath}}k-12_education.html"> K-12 education</a>
					<ul class="sidebar-submenu-ed">
						<li><a href="{{linkPath}}blended_learning.html" class="contents-ed">Blended Learning</a></li>
						<li><a href="{{linkPath}}computer_competency.html" class="contents-ed">Computer Competency</a></li>
						<li><a href="{{linkPath}}student_led_instruction.html" class="contents-ed">Student-Led Instruction</a></li>
						<li><a href="{{linkPath}}capti_voice_makes_differentiated_instruction.html" class="contents-ed active">Differentiated Instruction</a></li>
						<li><a href="{{linkPath}}inclusive_classrooms.html" class="contents-ed">Inclusive Classroom</a></li>
						<li><a href="{{linkPath}}integrated_classrooms_enl_ell.html" class="contents-ed">Integrated Classroom (ELL/ENL)</a></li>
						<li><a href="{{linkPath}}self_contained_classroom.html" class="contents-ed">Self-Contained Classroom</a></li>
					</ul>

                </div>
            </section>

            <section class="support col-xs-12 col-sm-9">
                <div class="bigblock cf">
                    <h1 class="content-header content-header-support-2">Differentiated Instruction</h1>
					<p>The definition of differentiated instruction, or individualization, is planning to teach according to the variety of student abilities that are present in the classroom.  Students are able to learn content effectively regardless of their differences, needs, and ability levels.  Teachers must use differentiated instruction strategies, products, learning environment, and the content that is being taught in order to create a successful learning environment for all types of students.</p>

					<img class="big img-center" src="{{linkPath}}img/capti_voice_makes_differentiated_instruction.jpg" alt="special needs class, differentiated instruction, individualization">

					<table class="support-table">
	                    <thead>
	                        <tr>
	                            <th class="support-td-info support-td-info-50">Biggest Challenges</th>
	                            <th class="support-td-check support-td-check-50">Capti’s Solutions</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Low English proficiency levels that are present in the classroom</td>
	                            <td class="support-td-check support-td-check-50">Capti has great differentiated instruction for english and other language supports available, including text translation and foreign language text-to-speech voices. Students can also personalize the Word Challenge game based on their native language! [Learn more about how Capti helps support ELLs | Integrated Classrooms (ELL/ENL)]</td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Lack of preparation time</td>
	                            <td class="support-td-check support-td-check-50">Differentiating instruction for reading is a lot of work as each student has different needs. Use Capti to distribute one worksheet to multiple students so they can choose which supports they’d like to use, reducing preparation time.</td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Diverse student populations</td>
	                            <td class="support-td-check support-td-check-50">Easily individualize content to each student’s needs using Capti’s text-to-speech, visual speech-tracking, keyboard navigation and more. The supports could be used in any classroom ranging from general education to a special needs class.</td>
	                        </tr>
	                    </tbody>
	                </table>

					<h3>Learn more about differentiated instruction:</h3>

					<p>Laura Robb highlights differentiated instruction ideas to use when teaching in an inclusive classroom. <br><a href="http://www.scholastic.com/teachers/article/what-differentiated-instruction" class="ed-link" target="_block">http://www.scholastic.com/teachers/article/what-differentiated-instruction</a></p>
					<p>Sarah D. Sparks explains the benefits of differentiated instruction in elementary, middle school, and high school by emphasizing focus on each student’s unique strengths and interests. <br><a href="http://www.edweek.org/ew/articles/2015/01/28/differentiated-instruction-a-primer.html" class="ed-link" target="_block">http://www.edweek.org/ew/articles/2015/01/28/differentiated-instruction-a-primer.html</a></p>
                </div>
            </section>

        </section>
    </article>
</section>


{% endblock %}

