{# index.twig #}
{% extends "base/layout.twig" %}

{% block title %} Higher education | Capti Education {% endblock %}

{% block main %}

<meta name="keywords" content="computer competency, computer competency education, computer competency students, standardized tests computers, electronic testing, student computer skills, students technology, technology schools, educational technology">

<section class="content support-container">
    <article class="container">
        <h2 class="content-header content-header-support-1">Capti Education</h2>
        <section class="row support-background">
            <section class="col-xs-12 col-sm-3 support-navigation">
                <style>
                    @media(min-width:768px) {
                        .sideblock-mobile-toggle,
                        .sideblock-mobile-toggle+label {
                            display: none
                        }
                    }
                </style>
                <input type="checkbox" id="sideblock-mobile-toggle" class="sideblock-mobile-toggle" />
                <label for="sideblock-mobile-toggle">Higher education <i class="fa fa-angle-down"></i></label>
                <div class="sideblock">
                    <a class="contents sidebar" href="{{linkPath}}">Overview</a>
                    <a class="contents sidebar sidebar-ed-noborder" href="{{linkPath}}higher_education.html"> Higher education</a>
                    <ul class="sidebar-submenu-ed sidebar-submenu-ed-middle">
                        <li><a href="{{linkPath}}accommodations.html" class="contents-ed">Accommodations</a></li>
                        <li><a href="{{linkPath}}content_distribution.html" class="contents-ed">Content Distribution</a></li>
                        <li><a href="{{linkPath}}learning_styles.html" class="contents-ed">Learning Styles</a></li>
                        <li><a href="{{linkPath}}esl_students.html" class="contents-ed">ESL Students</a></li>
                    </ul>
                    <a class="contents sidebar sidebar-ed-topborder active" href="{{linkPath}}k-12_education.html"> K-12 education</a>
					<ul class="sidebar-submenu-ed">
						<li><a href="{{linkPath}}blended_learning.html" class="contents-ed">Blended Learning</a></li>
						<li><a href="{{linkPath}}computer_competency.html" class="contents-ed active">Computer Competency</a></li>
						<li><a href="{{linkPath}}student_led_instruction.html" class="contents-ed">Student-Led Instruction</a></li>
						<li><a href="{{linkPath}}capti_voice_makes_differentiated_instruction.html" class="contents-ed">Differentiated Instruction</a></li>
						<li><a href="{{linkPath}}inclusive_classrooms.html" class="contents-ed">Inclusive Classroom</a></li>
						<li><a href="{{linkPath}}integrated_classrooms_enl_ell.html" class="contents-ed">Integrated Classroom (ELL/ENL)</a></li>
						<li><a href="{{linkPath}}self_contained_classroom.html" class="contents-ed">Self-Contained Classroom</a></li>
					</ul>

                </div>
            </section>

            <section class="support col-xs-12 col-sm-9">
                <div class="bigblock cf">
                    <h1 class="content-header content-header-support-2">Computer Competency</h1>
					<p>Computer competency is the student's ability to perform tasks successfully using a computer which would require a certain level of expertise.  The need for student computer skills is growing quickly as some students are being asked to participate in electronic testing (“etests”) including standardized testing on computers. They must also be comfortable enough to use various educational technology tools. Students must learn the basic fundamentals through computer competency education in order to build the 21st century skills needed to thrive into adulthood.</p>

					<img class="big img-center" src="{{linkPath}}img/computer_competency.png" width="430" alt="technology classroom, computer classroom, students computers, students ipads">

					<table class="support-table">
	                    <thead>
	                        <tr>
	                            <th class="support-td-info support-td-info-50">Biggest Challenges</th>
	                            <th class="support-td-check support-td-check-50">Capti’s Solutions</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Using active reading strategies on electronic devices</td>
	                            <td class="support-td-check support-td-check-50">Students practice active reading all year with paper, but when the end of the year exams come they are often asked to suddenly do it on a computer. Allow students to practice with this level of engagement during the year using Capti’s active reading tools, such as highlighting and note-taking. Computer competency in students is practiced all year long to build students’ confidence.</td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Navigating computer software with a disability</td>
	                            <td class="support-td-check support-td-check-50">Exercise fine motor skills; Capti was built from the ground up with students with disabilities in mind. Capti is compatible with screen-readers such as JAWS and NVDA and has its own keyboard shortcuts for navigating the app.</td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Maintaining student engagement</td>
	                            <td class="support-td-check support-td-check-50">Students who rely on text-to-speech supports throughout the year need high quality, natural-sounding voices to stay engaged. Capti’s voice library is expansive and offers over 15 different languages and dialects to choose from.</td>
	                        </tr>
	                    </tbody>
	                </table>

					<h3>Learn more about Computer Competency:</h3>
					<p>Even without a technology school background, students’ technology and computer-based skills are expected in order to succeed in modern universities, as well as most careers. <br><a href="http://geoc.uconn.edu/computer-technology-competency/" class="ed-link"  target="_block">http://geoc.uconn.edu/computer-technology-competency/</a></p>
                </div>
            </section>

        </section>
    </article>
</section>


{% endblock %}

