{# index.twig #}
{% extends "base/layout.twig" %}

{% block title %} Higher education | Capti Education {% endblock %}

{% block main %}

<meta name="keywords" content="inclusion, inclusion classroom, inclusion classroom definition, inclusion classroom challenges, inclusion classroom defined, inclusion classroom teacher responsibilities">

<section class="content support-container">
    <article class="container">
        <h2 class="content-header content-header-support-1">Capti Education</h2>
        <section class="row support-background">
            <section class="col-xs-12 col-sm-3 support-navigation">
                <style>
                    @media(min-width:768px) {
                        .sideblock-mobile-toggle,
                        .sideblock-mobile-toggle+label {
                            display: none
                        }
                    }
                </style>
                <input type="checkbox" id="sideblock-mobile-toggle" class="sideblock-mobile-toggle" />
                <label for="sideblock-mobile-toggle">K-12 education <i class="fa fa-angle-down"></i></label>
                <div class="sideblock">
                    <a class="contents sidebar" href="{{linkPath}}">Overview</a>
                    <a class="contents sidebar sidebar-ed-noborder" href="{{linkPath}}higher_education.html"> Higher education</a>
                    <ul class="sidebar-submenu-ed sidebar-submenu-ed-middle">
                        <li><a href="{{linkPath}}accommodations.html" class="contents-ed">Accommodations</a></li>
                        <li><a href="{{linkPath}}content_distribution.html" class="contents-ed">Content Distribution</a></li>
                        <li><a href="{{linkPath}}learning_styles.html" class="contents-ed">Learning Styles</a></li>
                        <li><a href="{{linkPath}}esl_students.html" class="contents-ed">ESL Students</a></li>
                    </ul>
                    <a class="contents sidebar sidebar-ed-topborder active" href="{{linkPath}}k-12_education.html"> K-12 education</a>
					<ul class="sidebar-submenu-ed">
						<li><a href="{{linkPath}}blended_learning.html" class="contents-ed">Blended Learning</a></li>
						<li><a href="{{linkPath}}computer_competency.html" class="contents-ed">Computer Competency</a></li>
						<li><a href="{{linkPath}}student_led_instruction.html" class="contents-ed">Student-Led Instruction</a></li>
						<li><a href="{{linkPath}}capti_voice_makes_differentiated_instruction.html" class="contents-ed">Differentiated Instruction</a></li>
						<li><a href="{{linkPath}}inclusive_classrooms.html" class="contents-ed active">Inclusive Classroom</a></li>
						<li><a href="{{linkPath}}integrated_classrooms_enl_ell.html" class="contents-ed">Integrated Classroom (ELL/ENL)</a></li>
						<li><a href="{{linkPath}}self_contained_classroom.html" class="contents-ed">Self-Contained Classroom</a></li>
					</ul>

                </div>
            </section>

            <section class="support col-xs-12 col-sm-9">
                <div class="bigblock cf">
                    <h1 class="content-header content-header-support-2">Inclusive Classrooms</h1>
					<p>The definition of an inclusion classroom is one which gives special needs students the opportunity to learn alongside their peers in age appropriate, general education classrooms. Each child is supported to learn, contribute, and participate in all aspects of life and education within an inclusion class. The goal is to create and develop schools, classrooms, programs, and activities that will encourage students to learn and participate together.</p>

					<img class="big img-center" src="{{linkPath}}img/inclusive_classrooms.jpg" alt="inclusive classroom, inclusion class, special needs students, student disability">

					<table class="support-table">
	                    <thead>
	                        <tr>
	                            <th class="support-td-info support-td-info-50">Biggest Challenges</th>
	                            <th class="support-td-check support-td-check-50">Capti’s Solutions</th>
	                        </tr>
	                    </thead>
	                    <tbody>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Intimidation for any general education teacher</td>
	                            <td class="support-td-check support-td-check-50">
									Collaborate with co-teachers or special education colleagues in Capti via email messaging and by distributing content.<br><br>
									Use Capti as a way to accommodate your students’ specific needs
	                            </td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Finding and juggling tools or strategies to help fill the existing gap</td>
	                            <td class="support-td-check support-td-check-50">An inclusion classroom challenge is that there too many tools that provide too little support. Capti is an all-in-one literacy solution that provides students and teachers with a platform for making their curriculum content more accessible.</td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Creating a student-led environment</td>
	                            <td class="support-td-check support-td-check-50">It is the inclusion classroom teacher’s responsibility to create a student-led environment. Capti’s built-in supports promote independent work despite student disabilities. [Learn more about how Capti helps support student-led instruction | Student-Led Instruction]</td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Differentiating Instruction</td>
	                            <td class="support-td-check support-td-check-50">Easily individualize content to each student’s needs using Capti’s text-to-speech, visual speech-tracking, keyboard navigation and more. [Learn more about how Capti helps support differentiated instruction | Differentiated Instruction]</td>
	                        </tr>
	                        <tr>
	                            <td class="support-td-info support-td-info-50">Finding and Distributing content successfully to the variety of student populations existing within the classroom</td>
	                            <td class="support-td-check support-td-check-50">It’s simple to use Capti to find and distribute materials to any number of students; just add content from various integrated sources (e.g, Bookshare) to a playlist and share that playlist with your students with a few clicks.</td>
	                        </tr>
	                    </tbody>
	                </table>

					<h3>Learn more about inclusive classrooms:</h3>
					<p>Susan Deford of the Washington Post gives a brief overview of the growing trend of inclusive learning environments and how they affect disabled children and their non-disabled peers. <br><a class="ed-link" target="_block" href="https://www.washingtonpost.com/archive/lifestyle/magazine/1998/02/08/inclusive-classrooms/f262acee-4d31-4f5b-978d-d139ff0a945a/">https://www.washingtonpost.com/archive/lifestyle/magazine/1998/02/08/inclusive-classrooms/f262acee-4d31-4f5b-978d-d139ff0a945a/</a></p>
					<p>Baraka Michael’s case study in a secondary school investigates how visually-impaired students fared when integrated into inclusive classes with their sighted peers. <br><a class="ed-link" target="_block" href="https://www.duo.uio.no/bitstream/handle/10852/36642/MasterxsxThesis.pdf?sequence=1">https://www.duo.uio.no/bitstream/handle/10852/36642/MasterxsxThesis.pdf?sequence=1</a></p>
					<p>Toni-Marie Ramos examines the disadvantages that many unsupported teachers face in inclusive classrooms. <br><a class="ed-link" target="_block" href="http://hubpages.com/education/Top-Challenges-Teacher-Face-in-Special-Needs-Inclusive-Classrooms">http://hubpages.com/education/Top-Challenges-Teacher-Face-in-Special-Needs-Inclusive-Classrooms</a></p>
					<p>D. Konza investigates how inclusive classrooms help to build community, independence, and a sense of confidence in differently-abled students. <br><a class="ed-link" target="_block" href="http://ro.uow.edu.au/cgi/viewcontent.cgi?article=1036&context=edupapers">http://ro.uow.edu.au/cgi/viewcontent.cgi?article=1036&context=edupapers</a></p>

                </div>
            </section>

        </section>
    </article>
</section>


{% endblock %}

