{# index.twig #}
{% extends "base/layout.twig" %}

{% block title %} Overview | Capti Education {% endblock %}

{% block main %}

<section class="content support-container">
    <article class="container">
        <h2 class="content-header content-header-support-1">Capti Education</h2>
        <section class="row support-background">
            <section class="col-xs-12 col-sm-3 support-navigation">
                <style>
                    @media(min-width:768px) {
                        .sideblock-mobile-toggle,
                        .sideblock-mobile-toggle+label {
                            display: none
                        }
                    }
                </style>
                <input type="checkbox" id="sideblock-mobile-toggle" class="sideblock-mobile-toggle" />
                <label for="sideblock-mobile-toggle">Overview <i class="fa fa-angle-down"></i></label>
                <div class="sideblock">
                    <a class="contents sidebar active" href="{{linkPath}}">Overview</a>
                    <a class="contents sidebar sidebar-ed-noborder" href="{{linkPath}}higher_education.html"> Higher education</a>
                    <ul class="sidebar-submenu-ed sidebar-submenu-ed-middle">
                        <li><a href="{{linkPath}}accommodations.html" class="contents-ed">Accommodations</a></li>
                        <li><a href="{{linkPath}}content_distribution.html" class="contents-ed">Content Distribution</a></li>
                        <li><a href="{{linkPath}}learning_styles.html" class="contents-ed">Learning Styles</a></li>
                        <li><a href="{{linkPath}}esl_students.html" class="contents-ed">ESL Students</a></li>
                    </ul>
                    <a class="contents sidebar sidebar-ed-topborder" href="{{linkPath}}k-12_education.html"> K-12 education</a>
					<ul class="sidebar-submenu-ed">
						<li><a href="{{linkPath}}blended_learning.html" class="contents-ed">Blended Learning</a></li>
						<li><a href="{{linkPath}}computer_competency.html" class="contents-ed">Computer Competency</a></li>
						<li><a href="{{linkPath}}student_led_instruction.html" class="contents-ed">Student-Led Instruction</a></li>
						<li><a href="{{linkPath}}capti_voice_makes_differentiated_instruction.html" class="contents-ed">Differentiated Instruction</a></li>
						<li><a href="{{linkPath}}inclusive_classrooms.html" class="contents-ed">Inclusive Classroom</a></li>
						<li><a href="{{linkPath}}integrated_classrooms_enl_ell.html" class="contents-ed">Integrated Classroom (ELL/ENL)</a></li>
						<li><a href="{{linkPath}}self_contained_classroom.html" class="contents-ed">Self-Contained Classroom</a></li>
					</ul>

                </div>
            </section>

            <section class="support col-xs-12 col-sm-9">
                <div class="bigblock cf">
                    <h1 class="content-header content-header-support-2">Overview</h1>
					<p>Capti Voice is a text-to-speech literacy tool designed to convert text to audio for a more accessible reading experience for its users. Currently Capti is being used in both K-12 and higher education settings. With its ability to read text-to-speech online as well as offline (through our standalone desktop app), Capti is the only TTS tool to work seamlessly across platforms and devices. By providing a free text-to-speech tool in the basic, individual account, it makes PDF’s, DAISY, EPUB, and a variety of other text formats more accessible to any user.</p>
					<p>Capti’s focus on education makes it a wonderful text-to-speech program for both students and teachers. Its specialized educational features include OCR and Assignments, which allows a teacher or administrator to create a test right in Capti and attach it to a playlist for easy access to references. It’s easy to get in touch with an Outreach Manager to see a free demo and to discuss options for incorporating Capti Voice into your school!</p>
                </div>
            </section>

        </section>
    </article>
</section>


{% endblock %}

